body {
color:black;
background: rgb(130, 166, 233);
margin: 2px;
}

header {
border-bottom: solid 2px rgb(109, 11, 151);
padding: 20px;
font-size: 45px;
color:rgb(121, 46, 172);
}

section{
background: rgb(146, 114, 221);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 40px;
}